@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
}

body {
  background: url(img/back.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
li,
a,
label {
  text-decoration: none;
}
/*Menu topo*/
nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #9cd6fb;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav a {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: #8dbef7;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}
/*Index*/

.mainHome {
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-items: center;
}

.texto {
  text-align: center;
  background-color: #b0e2fb;
  border-radius: 20%;
  border: 2px solid;
  flex-direction: column;
 
  margin-left: 15%;
}
.fotoPerfil {
  border-radius: 30% 10% 30%;
  border: 5px solid;
  margin-left: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}
.redesSociais {
  text-align: center;
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
  margin-left: 45%;
  margin-top: 10%;
}
/* Certificados */
.certificados {
  margin-left: 15%;
}
.certificados :hover {
  transform: scale(1.2);
  border: 2px solid;
  transition-duration: 0.5s;
  cursor: pointer;
}
/* Contato */
.mainContato {
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-items: center;
}

.contato {
  display: flex;
  width: 60%;
  margin-left: 5%;
}
.form {
  display: flex;
  flex-direction: column;
}

.endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input,textarea {
  border-radius: 8px;
  color: #000000;
}

button {
  width: 40%;
  margin: 0 auto;
  display: block;
  background-color: #6997e7;
  border: 2px solid;
  border-radius: 8px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(95, 95, 235, 0.445);
  color: #151313;
}

footer {
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

input,
textarea {
  border: 2px solid #000000;
}
